$base01: #e5e5e5;
$base02: #c4c4c4;
$base03: #666666;
$primary01: #10a310;
// $base03: #c7c7c7;
// $base04: #a8a8a8;
// $base05: #858585;
// $base06: #666666;
// $base07: #4d4d4d;
// $base08: #383838;
// $base09: #292929;
// $base10: #1f1f1f;